*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: larger;
}
body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.keys{
    height: 100px;
    width: 1000px;
}
.key{
    text-align: center;
    width: 80px;
    height: 100px;
    border: 4px solid #fbc2eb;
    display: inline-block;
    border: 1px solid black;
    margin-left: 20px;
    transition: all 0.07s;
}
span{
    color: ghostwhite;
}
.playing{
    transform: scale(1.1);
    border-color: #a18cd1;
    box-shadow: 0 0 10px #fbc2eb;
}