@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300&display=swap');
body {
  font-size: 1vw;
  font-family: spectral;
  background-color: #F8f8ff;
}
*{
    margin:0;
    padding:0;
    border:0;
}

#lateral {
  text-align: center;
  font-size: 2vw;
  background-color: #161A1E;
  width: 20%; 
  color: #F8f8ff;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; 
  margin: auto;
  box-shadow: 0.051vw 0px 5px gray;
  /* altura necessária */
}

button{
  width: 100%;
  height: 5.6vh;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
  border: none;
  background-color: inherit;
}
img:hover{
  cursor: pointer;
}
button:hover{
  color: inherit;
  background-color:#303134;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  box-shadow: inset;
}

#Formação, #Abordagem, #Contato{
  opacity: 0;
  height: 0;
  visibility: hidden;
  }


 #texts{
  font-size: 1vw;
  padding-left: 05%;
  padding-right: 12.5%;
  text-align: justify;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto auto auto 20%;
  height: 75%;
  width: auto;
}

#elementosLateral{ 
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  height: 75%;
}

input[type=text]{
  border:  2px solid;
  width: 45%;
  height: 3vh;
  padding-left: 3%;
  border-radius: 0.5%;
  margin-bottom: 1%;
  margin-right: 3%;
}
textarea{
  
  border: 2px solid;
  width: 93.5%;
  border-radius: 0.5%;
  padding-left: 3%;
  margin-bottom: 3%;
}

input[type=submit] {
  width: 30%;
  height: 7vh;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#foto{
  width: 75%; 
  border-radius: 50%; 
  background-color: white; 
  padding: 0.9%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

@media only screen and (max-device-width: 900px) {
  #lateral{
    position: sticky;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
  #elementosLateral{
    position: inherit;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
  }
  #foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  button{
    font-size: 5vw;
  }

  #texts{
    position: static;
    height: 100vh;
    font-size: 5vw;
    background-color: #F8f8ff;
    margin-left: auto;
  }
  #Formação, #Abordagem, #Contato, #me{
    opacity: 1;
    height: auto;
    visibility: visible;
    margin-bottom: 60%;
    }
    #me{
      margin-top: 20%;
    }
  #Contato input{
    display: block;

  }

}